@font-face {
    font-family: 'DosisBold';
    src: url('./fonts/DosisBold.eot');
    src: url('./fonts/DosisBold.eot') format('embedded-opentype'),
         url('./fonts/DosisBold.woff2') format('woff2'),
         url('./fonts/DosisBold.woff') format('woff'),
         url('./fonts/DosisBold.ttf') format('truetype'),
         url('./fonts/DosisBold.svg#DosisBold') format('svg');
}

@font-face {
    font-family: 'DosisRegular';
    src: url('../fonts/DosisRegular.eot');
    src: url('../fonts/DosisRegular.eot') format('embedded-opentype'),
         url('../fonts/DosisRegular.woff2') format('woff2'),
         url('../fonts/DosisRegular.woff') format('woff'),
         url('../fonts/DosisRegular.ttf') format('truetype'),
         url('../fonts/DosisRegular.svg#DosisRegular') format('svg');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'DosisBold';
}

header{
    background-color: #fabdd1;
}

a{
    text-decoration: none;
    
}

header .logo_box{
    float:left;
}

header .logo_box span{
    display: none;
    color: #dd356e;
    font-size: 30px;
    font-family: 'DosisBold';
}

.btn{
    color: #ffffff;
    background-color: #dd356e;
    padding: 10px 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50px;
    font-family: 'DosisBold';
}

.btn:hover{
    color: #ffffff;
    background-color: #b7114a;
}


.ylw-btn{
    color: #000000;
    background-color: yellow;
    padding: 10px 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50px;
    font-family: 'DosisBold';
}

.ylw-btn:hover{
    color:#000000;
    background-color:#d8d836;
}

header .header-content{
    display: table;
    width:100%;
    padding: 10px 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

header .logo_box a{
    font-size: 30px;
    font-family: 'DosisBold';
    color:#dd356e;
    display: block;
    text-transform: uppercase;
}

nav{
    float:right;
}

a{
    color:#dd356e;
}

a:hover{
    color:#b7114a;
}

.container{
    width: 1170px;
    padding:0 15px;
    margin:0 auto;
    
}

body{
    font-family: 'DosisRegular';
    background-color: #fff;
    color:#222222;
    font-size: 18px;
    line-height: 1.5;
}

nav ul li{
    float:left;
}

nav ul li a{
    font-size: 15px;
    color:#222222;
    display:block;
    padding: 10px 20px;
    margin-right: 10px;
    text-transform: uppercase;
}

nav ul li a:hover{
    color:#ffffff;
    background-color: #dd356e;
    border-radius: 50px;
}


nav ul li .active{
    color:#ffffff;
    background-color: #dd356e;
    border-radius: 60px;
}

.banner-section{
    text-align: center;
    height: 100vh;
    position: relative;
}


.banner-section .banner-content{    
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
    width:100%;
    top:50%;
    transform: translateY(-50%);
}

.banner-section h1{
    font-size : 28px;
    text-transform: uppercase;
    max-width:350px;
    margin: 0 auto 20px;
    text-transform: uppercase;
}

.banner-section p{
    margin:0 0 15px 0;
}

.service-section{
    background-color: blanchedalmond;
    padding:30px 10px;
}

.common-heading{
    font-size:20px;
    text-align: center;
    text-transform: uppercase;
    padding:20px 0 60px 0;
}

.service-section .col p{
    font-size:15px;
    padding:20px 0;
}

.service-section .row{
    display: table;
    width:100%;
}

.service-section .col{
    float:left;
    width:25%;
    padding:10px 30px 30px 80px;
    margin-left: -4px;
    position: relative;
}

.service-section .col h3{
    font-size: 18px;
}

.service-section .col .fas{
    font-size:15px;
    padding-left: 10px;
}

.service-section .col .fa{
position: absolute;
left:0;
height: 60px;
width: 60px;
background-color: #fff;
color: #dd356e;
border-radius: 50%;
text-align: center;
font-size: 30px;
padding-top: 15px;
}

.call-to-action{
    text-align: center;
    padding: 60px 0;
    background: linear-gradient(rgba(2,2,2,0.4),rgba(0,0,0,0.6)),url("./image/bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

.call-to-action .common-heading{
    color: white;
}

.call-to-action p{
    width:75%;
    margin:0 auto;
    color:#fff;
    padding-bottom: 40px;
}

.call-to-action .btn{
    background-color: transparent;
    border:1px solid white;
    color:white;
}


.call-to-action .btn:hover{
    background-color: #dd356e;
    border-color:#dd356e;
}


.recent-post{
    padding-top:60px;
    height: 150vh;
    text-align: center;
}

.recent-post p{
    margin:0 auto;
    width: 40%;
    padding-bottom: 80px;
}

.recent-post .row{
    display: table;
    width:80%;
    margin:0 auto;
}

.recent-post .col{
    width:33%;
    float:left;
    padding:0 20px;
}

.recent-post .col .color-box{
    width:100%;
    margin :0 auto;
    background-color: maroon;
    height:200px;
}

.recent-post .col .pur-color-box{
    width:100%;
    margin :0 auto;
    background-color: maroon;
    height:200px;
}


.recent-post .col .sg-color-box{
    width:100%;
    margin :0 auto;
    background-color: seagreen;
    height:200px;
}


.recent-post .col .col-content{
    width:100%;
    margin:0 auto;
    padding:20px 10px;
    box-shadow: 1px 1px 10px 1px gray;
}


.recent-post .col-content h3{
    font-size:11px;
    color:gray;
    text-align: left;
    font-family: 'DosisRegular';
}


.recent-post .col h2{
    margin :0 auto;
    display: block;
    padding:20px 0;
    font-size:16px;
}

.recent-post .col p{
    width:100%;
    font-size:13px;
    text-align: justify;
    padding: 0 20px 20px;
}

.recent-post .foot-text{
    font-size: 13px;
    display: table;
    width:100%;
    border-top: 1px solid gray;
    padding-top:10px;
    margin: 0 auto;
}

.recent-post .foot-text .likeview{

    float : left;
}

.recent-post .foot-text .likeview i{
    padding: 0 5px;
    color:#dd356e;
}


.recent-post .foot-text a{
    float: right;
}

.recent-post .foot-text a span{
    padding: 0 5px;
}

@media screen and (max-width:600px){

    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav{
    padding-top: 10px;
    transition: 40s all;
}

    header .logo_box{
        float:none;
        display: table;
        width:100%;
    }
    header .logo_box a{
        display: block;
        float:left;
        
    }
    

    header .logo_box span{
        display: block;
        float:right;
        text-transform: uppercase;
    }
    .container{
        width: 100%;
    }
    nav ul li {
        width:100%;
        text-align: center;
        padding-bottom: 10px;
    }

    .service-section .col{
        width:100%;
    }

    .recent-post .col{
     float:none;
     width: 100%;
     padding-bottom: 30px;
    }
}
